.about {
   width: 100%;
   height: 100vh;

   display: flex;

   &__info {
      width: 70%;
      background: $Gradient;
      padding-left: 160px;
      padding-right: calc(20% + 92px);

      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__photo {
      height: 60%;
      margin-left: -40%;

      &__container {
         width: 30%;
         display: flex;
         justify-content: flex-start;
         align-items: center;
      }
   }
}

@media (max-width: 1115px) {
   .about {
      flex-direction: column;
      height: fit-content;

      &__info {
         width: 100%;
         padding: 120px 140px;
         padding-bottom: 280px;
      }

      &__photo {
         margin-left: 0;
         height: auto;
         width: 40%;

         transform: rotate(90deg);

         margin-top: -20%;

         &__container {
            width: 100%;
            align-items: center;
            justify-content: center;
         }
      }
   }
}
