.landing {
   width: 100%;
   height: 100vh;
   display: flex;

   &__info {
      width: 50%;
      padding: 100px 92px 0 160px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
         max-width: 600px;
         margin-bottom: 40px;
      }

      p {
         margin-bottom: 68px;
      }
   }

   &__photo {
      width: 50%;
      padding-top: 100px;
      background: $Gradient;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
         width: 70%;
      }
   }
}

@media (max-width: 1115px) {
   .landing {
      height: fit-content;
      flex-direction: column;

      &__info {
         width: 100%;

         padding: 120px;
         padding-top: 260px;
         text-align: center;
         align-items: center;
      }

      &__photo {
         width: 100%;
         padding: 120px;
         padding-top: 0px;
         background: white;

         img {
            width: 50%;
         }
      }
   }
}

@media (max-width: 600px) {
   .landing {
      &__info {
         padding: 80px 60px;
         padding-top: 180px;
      }

      &__photo {
         padding: 80px 60px;
         padding-top: 0px;

         img {
            width: 60%;
         }
      }
   }
}
