.landing {
   width: 100%;
   height: 100vh;
   display: flex;

   &__info {
      width: 50%;
      padding: 100px 92px 0 160px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
         max-width: 600px;
         margin-bottom: 40px;
      }

      p {
         margin-bottom: 68px;
      }
   }

   &__photo {
      width: 50%;
      padding-top: 100px;
      background: $Gradient;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
         width: 70%;
      }
   }
}
