.function {
   display: flex;
   align-items: center;

   margin-bottom: 40px;

   img {
      width: 90px;
   }

   &__info {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 36px;
   }
}

@media (max-width: 600px) {
   .function {
      flex-direction: column;

      img {
         width: 60px;
      }

      &__info {
         margin-left: 0;
         padding-top: 20px;
      }
   }
}
