.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;

   display: flex;
   align-items: flex-end;
   justify-content: space-between;

   &__logo {
      padding-left: 180px;
      position: relative;
      z-index: 1;
   }

   &__blob {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 12px;
   }

   &__nav {
      width: 50%;
      padding: 0px 60px;
      padding-top: 68px;
      display: flex;
      justify-content: space-around;
   }
}

@media (max-width: 1115px) {
   .header__nav {
      padding-left: 0;
   }
}

@media (max-width: 800px) {
   .header {
      padding-top: 40px;

      &__nav {
         display: none;
      }
   }
}

@media (max-width: 600px) {
   .header {
      justify-content: center;

      &__blob {
         width: 95%;
         left: 0px;
         top: -30px;
      }

      &__logo {
         padding-left: 0;
      }

      &__nav {
         display: none;
      }
   }
}
