.personCard {
   display: flex;
   flex-direction: column;
   margin-top: 80px;

   img {
      width: 400px;
      height: 320px;
      border-radius: 16px 16px 0px 0px;
      object-fit: cover;
      object-position: top;
   }

   div {
      width: 400px;
      background-color: $Orange;
      padding: 24px 35px;
      border-radius: 0px 0px 16px 16px;

      h2 {
         font-variation-settings: $BlackTypo;
      }

      p {
         font-size: 18px;
      }
   }
}

@media (max-width: 1115px) {
   .personCard {
      img {
         width: 250px;
         height: 200px;
         border-radius: 16px 16px 0px 0px;
         object-fit: cover;
         object-position: top;
      }

      div {
         width: 250px;
         p {
            font-size: 14px;
         }
      }
   }
}
