//var
$Gradient: linear-gradient(25.59deg, #ffb54f -2.47%, #e59747 82.72%);
$Green: #097a00;
$Orange: #ff964d;
$Black: #565656;

* {
   margin: 0;
   box-sizing: border-box;
}

hr {
   width: 80px;
   border: 2px solid $Green;
   margin-bottom: 48px;

   &.white {
      border: 2px solid white;
   }
}

.withoutMargin {
   margin: 0px !important;
}

@import "./utils/satoshi";
@import "./utils/typo";
@import "./components/header";
@import "./components/btn";
@import "./components/function";
@import "./components/personCard";
@import "./screens/landing";
@import "./screens/about";
@import "./screens/functions";
@import "./screens/team";
@import "./screens/footer";
